@model IEnumerable<Sunodia.ClassManagement.Utility.Eventbrite.Models.Event>
@using Sunodia.ClassManagement.Extensions;


@{
    ViewBag.Title = "Eventbrite Events";
}

@if (ViewBag.AlreadyLinked == true)
{
    <h2>@ViewBag.EventName Already Linked</h2>
}
else
{
    <h2>Link Event to @ViewBag.EventName</h2>
}



<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.start)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.end)
        </th>
        <th></th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.name.text)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.start.local)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.end.local)
        </td>
        <td>
            @if (ViewBag.AlreadyLinked == true)
            {
                @Html.ActionLink("UnLink", "UnLinkEvent", "Eventbrite", new { ebEventId = item.id, eventId = ViewBag.EventId }, null)
            }
            else
            {
                @Html.ActionLink("Link", "LinkEvent", "Eventbrite", new { ebEventId = item.id, eventId = ViewBag.EventId, linkt=false }, null)
            }
        </td>
        <td>
            <a target="_blank" href=@item.url>
                <img alt="List View" src="@Url.Content("/Content/Images/ebicon-32x32.png")">
            </a>
        </td>
    </tr>
}

</table>
<hr/>
<div>
    @Html.ActionLink("Back to Event List", "Edit", "Events", new { Id = ViewBag.EventId }, null)
</div>